<mat-sidenav-container fullscreen
	color="primary">
	<mat-sidenav #sidenav>
		<mat-nav-list (click)="sidenav.close()">
			<a [routerLink]="''"
				mat-list-item>
				<mat-icon>home</mat-icon>
				<span>Home</span>
			</a>
			<a [routerLink]="'courses/1'"
				mat-list-item>
				<mat-icon>library_books</mat-icon>
				<span>Courses</span>
			</a>
			<a [routerLink]="'about'"
				mat-list-item>
				<mat-icon>question_answer</mat-icon>
				<span>About</span>
			</a>
		</mat-nav-list>
	</mat-sidenav>
	<mat-toolbar color="primary">
		<button (click)="sidenav.open()"
			mat-icon-button>
			<mat-icon>menu</mat-icon>
		</button>
		<button [matMenuTriggerFor]="displayScreens"
			mat-button>
			Screens
		</button>
		<mat-menu #displayScreens>
			<button [routerLink]="''"
				mat-menu-item>
				Home
			</button>
			<button [routerLink]="'courses/1'"
				mat-menu-item>
				Courses
			</button>
			<button [routerLink]="'about'"
				mat-menu-item>
				About
			</button>
		</mat-menu>
		<button mat-button>
			<mat-icon>person_add</mat-icon>
			<span>Register</span>
		</button>
		<button mat-button>
			<mat-icon>account_circle</mat-icon>
			<span>Login</span>
		</button>
	</mat-toolbar>
	<div class="container">
		<router-outlet></router-outlet>
	</div>
</mat-sidenav-container>
